<template>
  <div class="flex flex-wrap">
    <div 
    class="bg-blue-200 m-5 p-4 w-fit"
    v-for="(item,indeks) in hasil" :key = "indeks">
      <h1 class="text-xl font-bold">{{ item.description }}</h1>
      <p class="text-xl font-medium opacity-50">{{ item.domain }}</p>
      <p>{{ item.latitude }}</p>
      <p>{{ item.longitude }}</p>
      <p>{{ item.coordinate }}</p>
      <p>{{ item.type }}</p>
      <p>{{ item.region }}</p>
      <p>{{ item.level }}</p>
    </div>
  </div>
</template>

<script>
import axios from "axios"
  export default {
    data () {
      return {
        hasil : []
      }
    },
    methods : {
      async getData () {
        var hasilData = await axios.get("https://cuaca-gempa-rest-api.vercel.app/weather/jawa-timur")
        // console.log(hasilData.data.data.areas)
        this.hasil = hasilData.data.data.areas
      }
    },
    mounted () {
        this.getData()
    }
  }
</script>
